{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>{{teacher.name}}个人主页</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/scoring.css' %}" />
	<script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>

<div class="container">
	<div class="row clearfix">
        {% for teacher_class in teacher_classes %}
		<div class="col-md-4 column">
			<table class="table table-hover">
				<thead>
					<tr>
						<th style="background:#4c9ed9">
							{{teacher_class.subjectCd_DESC}}
						</th>

					</tr>
				</thead>
				<tbody>
				{% for banji in teacher_class.banji %}
					<tr>
						<td>
							{{banji.banji_DESC}}    <a class="btn"  onclick="javascript:openWin({{banji.school}},{{banji.grade}},{{banji.classes}},{{banji.textbook}})" href="#">查看 »</a>
						</td>

					</tr>
				{% endfor %}
				</tbody>
			</table>

		</div>
        {% endfor %}

	</div>
</div>
<script type="text/javascript">
function openWin(s,g,c,t){
        window.location.href = "{% url 'chapterList' %}"+"?s="+s+"&g="+g+"&c="+c+"&t="+t;
    }
</script>
</body>
</html>

